.App {

}

.card-number-input {
    width: 50vw;
    padding: 10px;
    margin: 10px;
    background-color: #b9e6ff;
    border-radius: 4px;
}

.card-table {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: solid 2px grey;
    border-radius: 5px;
}

.card-image {
    width: 100px;
    border: solid 2px transparent;
}

.card-image:hover {
    border: solid 2px red;
    border-radius: 5px;
}

.winner img {
    max-width: 300px;
    width: 50vw;
    padding: 20px;
}

.blink {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
